* {
  box-sizing:
    border-box;
  margin: 0;
  padding: 0;
}

div.container {
  border: 5px solid red;
  width: 80%;
  margin: 0 auto
}

header {
  background-color: burlywood;
}

div.hero img {
  width: 100%
}

div.left,
div.middle,
div.right {
  border: 3px solid green;
  width: 30%;

}

aside img {
  width: 100%;
}

aside {
  display: flex;
  justify-content: space-between;
}

nav {
  background-color: dimgray;

}

ul {
  text-align: center;

}

li {
  display: inline-block;
  width: 200px;
  border: 2px solid white;
  line-height: 3em;
}

a {
  color: white;
  text-decoration: none;
  display: block;
  border: 1px solid red;
  font-family: 'Courier New', Courier, monospace;
  font-variant: small-caps;

}
footer{
  background-color:yellowgreen;
  color:red;
  }
